#contactDiv.container-custom
    #contactContent.content
        br
        a#contact
        h2 Contact
        br
        hr
        br
        #linkedinInfoDiv
            a.link(href="https://www.linkedin.com/in/ajbiol") https://www.linkedin.com/in/ajbiol
        #emailInfoDiv
            a.link(href="mailto:ajbiol@gmail.com") ajbiol@gmail.com
