//- head inner text only
title= title
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatiple", content="IE-edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
// Third party resources
link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto", type="text/css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
script(type="text/javascript", src="https://www.gstatic.com/charts/loader.js")

// My resources
link(rel="stylesheet", type="text/css", href="css/index.css")
link(rel="icon", type="image/png", href="favicon/favicon-16x16.png", sizes="16x16")
link(rel="icon", type="image/png", href="favicon/favicon-32x32.png", sizes="32x32")
