#navContainer
    nav(class="navbar navbar-custom")
        .navbar-header
            a#brandLink.navbar-brand(href="/") joshbiol.com
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                span(class="sr-only") Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #myNavbar(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li 
                    a#profileLink.link(href="#") Profile
                li 
                    a#healthLink.link(href="#health") Health
                li 
                    a#funLink.link(href="#fun") Fun
