#navContainer
    nav(class="navbar navbar-custom")
        .navbar-header
            a#brandLink.navbar-brand(href="/") joshbiol.com
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#myNavbar")
                span(class="sr-only") Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #myNavbar(class="collapse navbar-collapse")
            ul(class="nav navbar-nav")
                li
                    a#homeLink.link(href="/") Home
                li 
                    a#portfolioLink.link(href="/portfolio") Portfolio
                li 
                    a#funLink.link(href="/fun") Fun
                li 
                    a#dashboardLink.link(href="/dashboard") Dashboard
