doctype html
html(lang="en")
    head
        include ./head.jade
    body
        #wrapper
            include ./navbar.jade
            br
            #notYetImplementedDiv.container-custom
                #empty.content
                    h2 Not yet implemented
                    br
                    | Whoops!
                    br
                    br
                    hr
                    br
                    | Hi! Thanks for checking out this section! Unfortunately 
                    | there's nothing here as I am still implementing this 
                    | page!
                    | Please try again in the future. :)
        include ./footer.jade 
