doctype html
html(lang="en")
    head
        include ./head.jade
        script(src="js/login.js")
    body
        #wrapper
            include ./navbar.jade
            br
            #signinDiv.container-custom
                #signinContent.content
                    h2 Sign in
                    br
                    #loginMessage Please enter your credentials.
                    br
                    hr
                    br
                    form#loginForm(role="form")
                        | Username or email address
                        #form-group
                            input#address.form-control(type="email", required, autofocus)
                        br
                        | Password
                        #form-group
                            input#secret.form-control(type="password", required)
                        br
                        button(type="submit", class="btn btn-lg btn-primary btn-block") Sign in
        include ./footer.jade                    
