doctype html
html(lang="en")
    head
        include ./head.jade
    body
        #wrapper
            include ./navbar.jade
            br
            #profileDiv.container-custom
                #profileContent.content
                    a#profile
                    img(src="/img/JoshLogo_ImageOnly.png", style="max-width: 250px")
                    br
                    br
                    hr
                    h4 About Me
                    br
            br
            #healthDiv.container-custom
                #healthContent.content
                    a#health
                    h2 Health
                    br
                    | "No man has the right to be an amateur in the matter of 
                    | physical training. It is a shame for a man to grow old 
                    | without seeing the beauty and strength of which his body is capable."
                    br
                    | - Socrates
                    br
                    br
                    hr
                    h4 Weight
                    br
                    | Weight change over 
                    #diffDays undefined
                    |  days. Current weight: 
                    #currWeight undefined
                    |  lbs.
                    br
                    br
                    #weightDiv
                    #weightGoogChartsDiv
            br
            #funDiv.container-custom
                #funContent.content
                    a#fun
                    h2 League of Legends
                    br
                    | "Do anything, but let it produce joy."
                    br
                    | - Walt Whitman, 
                    i Leaves of Grass
                    br
                    br
                    hr
                    h4 Statistics
                    | Recent ten games played results:
                    #matchHistCanvasDiv
                        #leagueMatchHistory
                        #gameResultsPie
            br
        include ./footer.jade
