doctype html
html(lang="en")
    head
        include ./head.jade
    body
        #wrapper
            include ./navbar.jade
            br
            #profileDiv.container-custom
                #profileContent.content
                    a#profile
                    h2 Profile
                    br
                    | A twenty-something enjoying the little things in life.
                    br
                    br
                    hr
                    h4 About Me
        include ./footer.jade
