html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

#navigation {
	color: black;
}

#navigationList {
	list-style: none;
}

#left {
	float: left;
	width: 33%;
	background-color: white;
	height: 100%;
}

#right {
	color: black;
	float: left;
	width: 67%;
	background-color: white;
	height: 100%;
}

#home {
	font-size: 200%;
}

#projects {
	font-size: 200%;
}

#sixWordStoriesTitle {
	font-size: 150%;
}

#healthTitle {
	font-size: 150%;
}

#foreverWoodLeagueTitle {
	font-size: 150%;
}

#about {
	font-size: 200%;
}
