html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#navigation {
	position: relative;
	color: black;
	padding-top: 3em;
}

#navigationList {
	font-family: -moz-fixed;
	list-style: none;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
}

#navigationList li {
	display: inline-block;
	width: 100px;
}

a.link {
	color: black;
	text-decoration: none;
}

a.link:hover {
	color: #6699cc;
}

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

#contentDiv {
	color: black;
	background-color: white;
	width: 100%;
	font-family: -moz-fixed;
}

h2 {
	color: #6699cc;
	font-size: 200%;
	margin: 0;
}

div.container {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

div.content {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	padding-top: 10%;
	padding-bottom: 10%;
}

#diffDays {
	display: inline;
}

#currWeight {
	display: inline;
}

#gameResultsPie {
	display: block;
	margin: 0 auto;
}

#weightGoogChartsDiv {
	display: block;
	margin: 0 auto;
}

#contactContent {
	padding-bottom: 10em;
}

#contactColumnsDiv {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-width: 300px;
	-moz-column-width: 300px;
	column-width: 300px;
}