<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>joshbiol.com</title>
        <!-- Angular Material style sheet -->
        <link rel="stylesheet" href="./assets/node_modules/angular-material/angular-material.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- My stylesheet -->
        <link rel="stylesheet" href="./css/index.css">
        
    </head>

    <body>
        <md-content>
            <md-toolbar>
                <span flex></span>
                <h2 class="md-toolbar-tools">
                    <img src="img/ic_face_white_36px.svg">&nbsp;&nbsp;JOSH BIOL</h2>
            </md-toolbar>
        </md-content>

        <div id="cards">
            <div id="interests" ng-controller="InterestCtrl">
                <div id="interestsLabel">
                    <hr class="blue"> 
                    <span>Interests</span>
                </div>
                <md-card md-theme="default">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/ic_code_black_24px.svg">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Software Development</span>
                            <span class="md-subhead">Last commit was </span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Personal Projects</span>
                            <span class="md-subhead">{{weightTrend}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <div id="softwareDevContent">
                            <md-list>
                            <md-list-item class="md-3-line" ng-repeat="project in githubData">
                            <div class="md-list-item-text">
                                <h3>{{project.name}}</h3>
                                <h4>{{project.url}}</h4>
                                <div class="frame">
                                    <div class="left">
                                        <p>
                                        Description: {{project.desc}}
                                        <br>
                                        Language: {{project.language}}
                                        </p>
                                    </div>    
                                    <div class="right">
                                        <p>
                                        Created on {{project.created_at}}
                                        <br>
                                        Updated on {{project.updated_at}}
                                        <br>
                                        Pushed on {{project.pushed_at}}
                                        </p>
                                    </div>    
                                </div>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                            </md-list-item>
                            </md-list>
                        </div>
                    </md-card-content>
                </md-card>
                <!-- Health and Fitness card -->
                <md-card md-theme="default">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/ic_fitness_center_black_18px.svg">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Health and Fitness</span>
                            <span class="md-subhead">{{weightLastUpdated}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                Weight Weighed {{mrWeight}} lbs on {{mrWeighingDate}}</span>
                            <span class="md-subhead">{{weightTrend}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                            <!-- Placeholder for SVG image -->
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <div id="weightContent">
                            <div id="weightChart"></div>
                        </div>
                    </md-card-content>
                </md-card>
                <!-- Video Games card -->
                <md-card md-theme="default">
                    <md-card-header>
                        <md-card-avatar>
                            <img src="img/ic_videogame_asset_black_18px.svg">
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-title">Gaming</span>
                            <span class="md-subhead">{{lolLastUpdate}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-divider></md-divider>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">League of Legends</span>
                            <span class="md-subhead">{{mostRecentLoLResult}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media">
                            <!-- Placeholder for SVG image -->
                            </div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <div id="lolContent">
                            Most recent 10 game results
                            <div id="winsChart"></div>
                        </div>
                    </md-card-content>
                </md-card>
            </div>
        </div>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="./assets/node_modules/angular/angular.js"></script>
        <script src="./assets/node_modules/angular-messages/angular-messages.js"></script>
        <script src="./assets/node_modules/angular-animate/angular-animate.js"></script>
        <script src="./assets/node_modules/angular-aria/angular-aria.js"></script>
        <script src="./assets/node_modules/angular-material/angular-material.js"></script>

        <!-- Google chart -->
        <script src="https://www.gstatic.com/charts/loader.js"></script>

        <!-- Your application bootstrap  -->
        <script type="text/javascript" src="./js/all.min.js"></script>
    </body>
</html>
